@import "tailwindcss";

@theme {
  --color-wall: #1f2937;
  --color-visited: #dbeafe;
  --color-frontier: #86efac;
  --color-current: #fde047;
  --color-path: #f59e0b;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 h-screen w-screen overflow-hidden;
  }
  
  #root {
    @apply h-full w-full;
  }
}
